@font-face {
    font-family: "Nerd";
    src: url("/css/nerd.ttf");
}

body {
    background: #f1efef;
}

#root {
    max-width: 1200px;
    margin: auto;

    >h2 {
        padding: 20px 0 30px;
        margin: 0;
    }
}

i {
    font-family: Nerd;
    font-style: normal;
}

footer p {
    text-align: center;
}

[class^=btn] {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: var(--bs-gray-800);
    padding: 10px 20px;
    cursor: pointer;
}

.ReactModal__Overlay {
    z-index: 10;

    >div[role=dialog] {
        background: rgba(255, 255, 255, 0.8) !important;
        border-radius: 10px !important;
        box-shadow: 5px 5px 5px silver;
        padding: 30px 50px !important;
    }
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    width: 40px;
    border: 0;
    background: transparent;
    cursor: pointer;

    &:hover {
        font-weight: 500
    }
}
