@font-face {
    font-family: "Nerd";
    src: url("/css/nerd.ttf");
}

@font-face {
    font-family: "Arimo";
    src: url("/css/Arimo.ttf");
}

body {
    background: #fff;
    font-family: Arimo;
}

.page-contents {
  min-height: calc(100vh - 280px);
}

:root {
    --color-text: #303030;
    --color-link: #002630;
}

.loading {
    display: none;
    animation: delayShow;
    animation-delay: 1s;
}

@keyframes delayShow {
    0% {
        display: none
    }

    to {
        display: block
    }
}

#root {
    max-width: 1200px;
    margin: auto;

    >h2 {
        padding: 20px 0 30px;
        margin: 0;
    }
}

i {
    font-family: Nerd;
    font-style: normal;
}

footer p {
    text-align: center;
}

[class^=btn] {
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: var(--bs-gray-800);
    padding: 10px 20px;
    cursor: pointer;
}

.disabled {
    opacity: 0.35;
    pointer-events: none;
}

.row {
    display: flex;
}

.col1 {
    width: 10%
}

.col2 {
    width: 20%
}

.col3 {
    width: 30%
}

.col4 {
    width: 40%
}

.col5 {
    width: 50%
}

.col6 {
    width: 60%
}

.col7 {
    width: 70%
}

.col8 {
    width: 80%
}

.col9 {
    width: 90%
}

.col10 {
    width: 100%
}
