header {
    display: flex;
    align-items: self-end;
    position: sticky;
    top: 20px;
    background: #fff;
    box-shadow: 0 0 0 30px #fff, 50vw -20px 0 50px #fff, -50vw -20px 0 50px #fff;
    z-index: 5;

    .btn-signin {
        margin-left: auto;
        color: black;
        align-self: center;
        display: flex;
    }
}
