.basket {
    height: 100%;
    display: flex;
    align-self: center;
    margin-left: 20px;
    background: var(--bs-blue);
    padding: 8px 20px;
    color: #fff;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
}
