    .cta {
        display: flex;
        gap: 10px;

        button,
        a {
            border: 0;
            background: var(--bs-green);
            display: block;
            font-weight: 500;
            font-size: 15px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            text-decoration: none;
            box-shadow: inset 2px -30px 4px rgba(0,0,0,0.2);

            &.btn-view {
                background: var(--bs-blue);
            }

            &:hover {
                transform: scale(1.1);
                filter: contrast(2);
            }

            i {
                font-size: 16px;
                margin-right: 10px;
            }
        }
    }
