.edit-dialog {
    h4 {
        text-align: center;
        font-size: 30px;
        background: silver;
        margin: 0 -50px;
        padding: 10px 0;
        border-radius: 10px 10px 0 0;
    }

    .row {
        gap: 40px;
        margin: 15px 0;
    }

    img {
        max-width: 100%;
        margin-top: 22px;
        border-radius: 10px;
    }

    select,
    input,
    textarea {
        background: #fff;
        padding: 10px 15px;
        border: 1px solid gray;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    textarea {
        height: 120px;
    }

    label {
        line-height: 36px;
    }
}
