form.add {
    position: absolute;
    right: 20px;
    top: 13px;
}

.admin-data {

    img {
        max-width: 40px;
        margin-right: 15px;
        max-height: 40px;
        border-radius: 5px;
    }

    &.move-done div {
        transition: none;
    }

    >div {
        display: flex;
        position: relative;
        top: 0;
        justify-content: space-between;
        margin-bottom: 10px;

        &:first-child .r.arrow,
        &:last-child .l.arrow {
            opacity: 0.5;
            pointer-events: none;
        }

        &:has(+.move-up),
        &.move-up,
        &.move-down+div,
        &.move-down {
            transition: all 0.33s ease-in-out;
        }

        &.move-down,
        &:has(+.move-up) {
            top: 50px
        }

        &.move-down+div,
        &.move-up {
            top: -50px;
        }

        div {
            width: 100%;
            align-self: center;
        }

        button {
            border: 0;
            color: #fff;
            background: var(--bs-blue);
            width: 40px;
            height: 40px;
            box-shadow: 2px 2px 5px gray;
            font-size: 18px;
            line-height: 17px;
            box-shadow: inset -4px -20px 1px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            transition: all 0.1s linear;
            text-shadow: 1px 1px gray;

            &.l {
                border-radius: 10px 0 0 10px;
                transform-origin: right center;
            }

            &.r {
                border-radius: 0 10px 10px 0;
                margin-right: 20px;
                transform-origin: left center;
            }

            &:hover {
                transform: scale(1.3);
                font-size: 22px;
                background: var(--bs-yellow);
                box-shadow: -5px 5px 3px rgba(0, 0, 0, 0.3);

                &.r {
                    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.3);
                }

                &.trash {
                    background: var(--bs-red)
                }

                &.edit {
                    background: var(--bs-green)
                }
            }
        }
    }


    .order {
        border: 0;
        border-radius: 0 7px 7px 0;
        margin-right: 20px;
        width: 40px;
        text-align: center;
        appearance: none;
        cursor: pointer;
        height: 40px;
        padding: 0;
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        margin-left: -20px;
        background: #94bdf1;
    }
}

.add button {
    background: var(--bs-green);
}

.admin-filters {
    background: var(--bs-gray-400);
    margin: -20px;
    margin-bottom: 20px;
    padding: 10px 20px;

    select {
        border: 0;
        padding: 10px;
    }
}
