@font-face {
    font-family: "Nerd";
    src: url("/css/nerd.ttf");
}

#root {
    max-width: 1200px;
    margin: auto;

    >h2 {
        margin: 40px 0 20px;
    }
}

i {
    font-family: Nerd;
    font-style: normal;
}

footer p {
    text-align: center;
}
