@font-face {
    font-family: "Nerd";
    src: url("/css/nerd.ttf");
}

#root {
    max-width: 1200px;
    margin: auto;
}

header {
    display: flex;
    align-items: self-end;
}

i {
    font-family: Nerd;
    font-style: normal;
}
